<div class="flip-book">
  <div class="view">
    <div class="fnav">
      <div class="prev">
        <a class="cmdBackward" href="#"><span class="icon"><i class="fa fa-angle-left" title="Previous page"></i></span></a>
      </div>
      <div class="next">
        <a class="cmdForward" href="#"><span class="icon"><i class="fa fa-angle-right" title="Next page"></i></span></a>
      </div>
    </div>
    <div class="widLoadingProgress loading-progress hidden">
      <div class="progress">
      </div>
      <div class="txtLoadingProgress caption">
      </div>
    </div>
  </div>

  <div class="widFloatWnd float-wnd hidden">
    <div class="header">
      Table of contents
      <a href="#" title="Close" class="close cmdCloseToc">
        <span class="icon"><i class="fa fa-times"></i></span>
      </a>
    </div>
    <div class="body">
      <div class="fb3d">
        <div class="toc">
          <div class="toc-menu widTocMenu">
            <ul>
              <li class="cmdBookmarks"><a href="#">Bookmarks</a></li>
              <li class="cmdThumbnails"><a href="#">Thumbnails</a></li>
            </ul>
          </div>
          <div class="widBookmarks toc-view">

          </div>
          <div class="widThumbnails toc-view">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="controls">

    <div class="fb3d">
      <nav class="fnavbar">
        <ul class="fnav">

          <li class="fnav-item cmdZoomIn"><a href="#"><span class="icon"><i class="fa fa-search-plus" title="Zoom in"></i></span></a></li>
          <li class="fnav-item cmdZoomOut"><a href="#"><span class="icon"><i class="fa fa-search-minus" title="Zoom out"></i></span></a></li>
          <li class="fnav-item cmdDefaultZoom"><a href="#"><span class="icon"><i class="fa fa-compress" title="Fit view"></i></span></a></li>
          <li class="fnav-item cmdToc"><a href="#"><span class="icon"><i class="fa fa-bookmark" title="Table of contents"></i></span></a></li>
          <li class="fnav-item cmdFastBackward"><a href="#"><span class="icon"><i class="fa fa-fast-backward" title="10 pages backward"></i></span></a></li>
          <li class="fnav-item cmdBackward"><a href="#"><span class="icon"><i class="fa fa-backward" title="Previous page"></i></span></a></li>
          <li class="fnav-item">
            <div class="pages">
              <input type="text" class="number inpPage" maxlength="4" placeholder="1">
              <input type="text" class="amount inpPages" readOnly maxlength="4" placeholder="1">
            </div>
          </li>
          <li class="fnav-item cmdForward"><a href="#"><span class="icon"><i class="fa fa-forward" title="Next page"></i></span></a></li>
          <li class="fnav-item cmdFastForward"><a href="#"><span class="icon"><i class="fa fa-fast-forward"  title="10 pages forward"></i></span></a></li>
          <li class="fnav-item cmdSave"><a href="#"><span class="icon"><i class="fa fa-download"  title="Download"></i></span></a></li>
          <li class="fnav-item cmdPrint"><a href="#"><span class="icon"><i class="fa fa-print"  title="Print"></i></span></a></li>
          <li class="fnav-item cmdFullScreen"><a href="#"><span class="icon"><i class="fa fa-arrows-alt" title="Full screen"></i></span></a></li>
          <li class="dropup fnav-item toggle widSettings">
            <a href="#"><span class="icon"><i class="fa fa-cog" title="Settings"></i> <i class="caret"></i></span></a>
            <ul class="menu hidden">
              <li  class="cmdSmartPan"><a href="#"><span class="icon"><i class="fa fa-eye"></i></span> Smart pan</a></li>
              <li  class="cmdSinglePage"><a href="#"><span class="icon"><i class="fa fa-file-o"></i></span> Single page</a></li>
              <li  class="cmdSounds"><a href="#"><span class="icon"><i class="fa fa-volume-up"></i></span> Sounds</a></li>
              <li  class="cmdStats"><a href="#"><span class="icon"><i class="fa fa-line-chart"></i></span> Stats</a></li>
              <li class="divider"></li>
              <li  class="cmdLightingUp"><a href="#"><span class="icon"><i class="fa fa-chevron-up"></i></span> Increase lighting</a></li>
              <li  class="cmdLightingDown"><a href="#"><span class="icon"><i class="fa fa-chevron-down"></i></span> Reduce lighting</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>
